@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #9ADA45 16.62%, #9DD257 36.03%, #96E035 52.91%, #9DD257 71.96%, #CEF59C 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
    height: 80px;
    background: #FFFFFF;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #88B54D;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 16px;
    border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
}

.conteudo-principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #DFF6C2;
}

.conteudo-principal-botao{
    background-color: #FFFFFF;
    width: 160px;
    height: 60px; 
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #000000;
    padding: 10px 48px;
}

.conteudo-principal-botao:hover{
    background-color: #c4f881;
    color: #FFFFFF;
    cursor: pointer;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top:0.4px solid #FFFFFF;
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #DFF6C2;
}

.rodape{
    height: 85px;
    left: 0px;
    background: #FFFFFF;
    align-items: center;
}

.rodape-imagem{
    display: block;
    margin: 0 auto;
}



