<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de teste do João Gabriel">
    <title>Inchurch Ops</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <header class="cabecalho">
        <img class="ca>becalho-logo" src="/static/image/inchurch2x.png" width="200" alt="Logo Inchurch">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item">Nossa Equipe</a>
            <a class="cabecalho-menu-item">Scripts</a>
            <a class="cabecalho-menu-item" href="https://github.com/jgjoao06/jotage-flask">Repositório</a>
            <a class="cabecalho-menu-item">Como Usar</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-titulo">Inchurch Operações</h1> 
                <h2 class="conteudo-principal-subtitulo">O melhor time do mundo!</h2>
                <a class="conteudo-principal-botao" type="submit" href="/login">Login</a>
            </div>
            <img  class="conteudo-principal-imagem" src="/static/image/Mobile Marketing-bro.png" alt="Mobile Marketing Bro">
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Faça suas automações em Python</h3>
            <p class="conteudo-secundario-paragrafo">1. Faça um GET e obtenha o <strong>link público da Exact.</strong></p>
            <p class="conteudo-secundario-paragrafo">2. Atualize a <strong>data de inicio de um contrato</strong> na Contraktor</p>
            <p class="conteudo-secundario-paragrafo">3. Preencha as planilhas do Google <strong>Automaticamente</strong>!</p>
            <p class="conteudo-secundario-paragrafo"><strong>E muito mais!</strong></p>
        </section>
    </main>

    <footer class="rodape">
        <img class="rodape-imagem" src="/static/image/logo-cruz-png.png" width="80" alt="Logo Cruz da Inchurch">
    </footer>
</body>

</html>