<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página de teste do João Gabriel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
        <title>Inchurch Ops - Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    </head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-logo" src="/static/image/inchurch2x.png" width="200" alt="Logo Inchurch">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item">Nossa Equipe</a>
            <a class="cabecalho-menu-item">Scripts</a>
            <a class="cabecalho-menu-item" href="https://github.com/jgjoao06/jotage-flask">Repositório</a>
            <a class="cabecalho-menu-item">Como Usar</a>
        </nav>
    </header>

    <main class="principal">
        <section class="principal-esquerda">
            <div class="principal-esquerda-escrito">
                <h1 class="principal-esquerda-escrito-titulo">Inchurch Operações</h1>
                <h2 class="principal-esquerda-escrito-subtitulo">O melhor time do mundo</h1>
            </div>
            <img class="principal-esquerda-imagem" src="/static/image/tablet-login.png" alt="Mobile Marketing Bro"">
        </section>

        <section class="principal-form">
            <h1 class="principal-form-titulo">Login</h1>
            <form class="principal-form-interior">
                <div class="principal-form-login">
                <label class="principal-form-login-texto" for="usuario">Usuário :</label>
                <input class="principal-form-login-input" type="text" placeholder="Usuário" id="usuario" name="usuario"><br><br>
                </div>
                <div class="principal-form-senha">
                <label class="principal-form-senha-texto" for="senha">Senha :</label>
                <input class="principal-form-senha-input" type="password" placeholder="Senha" id="senha" name="senha"><br><br>
                </div>         
            <input class="principal-form-submit" type="submit" value="Login">
            </form>
        </section>
    </main>
    
    <footer class="rodape">
        <img class="rodape-imagem" src="/static/image/logo-cruz-png.png" width="80" alt="Logo Cruz da Inchurch">
    </footer> 
</body>
</html>